#version=DEVEL
ignoredisk --only-use=vda
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
#iscsiname iqn.1994-05.com.redhat:46a93490da59
autopart
# Partition clearing information
clearpart --all --initlabel --drives=vda
# Use text mode install
text
# Use network installation
url --url="http://fedora.inode.at/releases/31/Server/x86_64/os/"
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f31&arch=x86_64
# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$UABN8OE6GElNiuIc$rG3YYvYWY6Y2obUxeM9LVGurR45ipVSkA.zt.EjSQGTkRmXOxHAxEe8AYkGbCsNo5mEG3aGabjddgXzgf5tTJ/
user --groups=wheel --name=cmihai --password=$6$.d6HIS/bbCDlFSIR$A7UrBYmKZcwuHV/2pKBdh1okYQPUKiMOr1TdjKHKhDPmqT5kTuIGWfYVXAovC8T.bhe7l4fNigZLwXOqpKAV70 --iscrypted
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Dublin --isUtc

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post

echo "%_install_langs en_US.UTF-8:en_US:en:C" >> /etc/rpm/macros.language-conf
echo "override_install_langs=en_US.UTF-8:en_US:en:C" >> /etc/yum.conf

echo "cmihai        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/cmihai
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
/bin/echo 'UseDNS no' >> /etc/ssh/sshd_config

/bin/mkdir /home/cmihai/.ssh
/bin/chmod 700 /home/cmihai/.ssh
/bin/echo -e 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC38XwszigERVT9VLJTgP8Aqn9NSB81gAW+l6AW5ClnJf7LcLKM5W8Uj6ZBETokh4UnOfZA88Q+RferA6/O6L0uNKN1sBgBq4MG9znJfk1Qe41jbLzsq0MDKh360kciG9j+m4a8YM878MUiYd4k2pYH+oB1P802jQEf1MHUwX4CpKxACRoJMuZZ4KnGGrKlvSnZXrFakBSShOIjwTvP2iwx6zyDftZKm3m2NtkL0boW+iIZDdj1C1k/A+xHxodnt3OI0qHHo19Z6ROtu0k+JsnlA+a0Smp3cWn/t44/DYB/7IPt53P+Z59/3wdhlU9VmwDnuqwsRQ42X45rvDF2nK1Qp/dcoLi3PqFfHy0N03OP4dsKnyx7AfkmJdWFDTOHxR4x1TUDLRtaDLFlNvcq+8jE0YnKTxsQD+07GWAYHhabBscXX2B2Hz1HYYN3RG0oJ9nzk75KLybNnDimTeqfWzuXKHlfYeFHE19mlBvvkS/zFEOa5QGjVsNi7s98HFtn8hpF1jS+sXy1JVLjPo0ELvvydTPIosamG6SvdOg6qbEg/FHvCIarNK9B8OKbu1IUXc/2L62M8IvwVa/XzqTvSTF9HQk8EsGWJd6LecOtqA8K4ibuiykei7VI0h3v21dQswp5uAh7enGMQPpZyV4sh0rBDNVWuL4kG85S+oVQ2JRenw==' >> /home/cmihai/.ssh/authorized_keys
/bin/chown -R cmihai:cmihai /home/cmihai/.ssh
/bin/chmod 0600 /home/cmihai/.ssh/*

/bin/echo '%cmihai  ALL=(ALL)       NOPASSWD: ALL' >> /etc/sudoers.d/cmihai

%end
