#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=rhel81.localdomain
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$rCIxseWGMmVksHxU$vDN282TJQIvq3hJiI.2XigvPidD.DzlCAjh9tUx1Msgv2kCNXtMpSUP4iUN5WAf8vytzEvPn5Wt3C/tSkCUmY.
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Dublin --isUtc
user --groups=wheel --name=cmihai --password=$6$sFUS/2iKBGLLWPCn$skCbsvB0unIGbD3cem52Pqb4Sb.xXL9.bmaNOJbdGrTvocRGoT9r1ujBcOq0JHSoPyP1GUN6F80BY8RpFtmVA0 --iscrypted --gecos="cmihai"

%packages
@^minimal-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
